<footer module="layout_footerPackage">
    <!--@css(/css/module/layout/footerPackage.css)-->
    <div id="footer">
            <div class="information">
                <a href="/clareo/about.html">회사소개</a>
                <a href="/member/agreement.html">이용약관</a>
                <a href="/member/privacy.html" style="font-weight:bold;">개인정보처리방침</a>
                <a href="/shopinfo/guide.html">이용안내</a>
            </div>
                <dl>
                <dt>[ CUSTOMER CENTER ]</dt>
                <dd class="number">1599-3735 (일반상담문의)</dd>
                <dd>AM 11:00 - PM 16:00</dd>
                <dd>(06107) 서울특별시 강남구 논현로 626 (논현동) 엠빌딩 7층</dd>
            </dl>
            <dl>
                <dt>[ COMPANY INFO ]</dt>
                <dd>Trade : (주)트랜드메카 / CEO : 서대규 / TEL : 1599-3735</dd>
                <dd>Permit Number : 113-86-48435 <a href="#none" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=113-86-48435', 'bizCommPop', 'width=750, height=950;');return false;">[사업자정보확인]</a> </dd>
                <dd>Fax : 02-6455-2581 / Mail-Order : 2016-서울강남02846호</dd>
                <dd>Address : (06107) 서울특별시 강남구 논현로 626 (논현동) 엠빌딩 7층</dd>
                <dd>Privacy Manager : 서대규/ E-mail : trendmecca@hotmail.com
            </dl>
            <p>
                Copyright (C) 2018 Trendmecca. All rights reserved.
            </p>
        </div> 
    </div>
</footer>

